<div class="activity-card">
	<%= image_tag "Speedboat1.jpg" %>
	<div class="activity-card__description">
		<h3>Speedboat</h3>
		<p>Get a 15 minutes speed boat ride and feel the excitement.</p>
		<p class="price-font">30$/ticket</p>
	</div>
</div>

