<div class="shopping-button">
	<div class="add-button"><p id="minus-target">-</p></div>
	<p id="ticket-number">0</p>
	<div class="add-button"><p id="plus-target">+</p></div>
</div>

<!-- <div class="shopping-button">
	<div id="minus-target"><i class="fas fa-minus"></i></div>
	<p id="ticket-number">0</p>
	<div id="plus-target"><i class="fas fa-plus"></i></div>
</div> -->

