$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-deep-blue: #1433B4;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

$default-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0,0,0,0.08);
$default-radius: 0.3rem;