<header class="header">
        <div class="header__text-box">
        <h1 class="heading-primary">Get on and ride!</h1>
            

        <button class="btn btn--white btn--animated">Book now</button>
    </div>
</header>

<%= link_to "Proceed to payment", payment_path %>

<!-- background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
url(background.jpg); -->