.location-section {
	display: flex;
	justify-content: center;

	&__wrapper {
		display: inline-block;
		margin-top: 25px;
	}

	img {
		border-radius: 0.3rem;
	}

	h2 {
		text-align: center;
    	margin: 30px;
    	font-weight: 100;
    	font-size: 2rem;
	}
}


.booking-section {
	
	width: 69.375rem;
    margin: auto;

	h2 {
		text-align: center;
    	margin: 30px;
    	font-weight: 100;
    	font-size: 2rem;
	}

	&__wrapper {
		display: flex;
    	justify-content: space-around;
    	position: relative;
	}

	&__process {
		text-align: center;
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}

	&__cart {
		box-shadow: $default-shadow;
    	border-radius: $default-radius;
    	text-align: center;
    	height: 100%;
    	position: sticky;
    	top: 1rem;
    	box-sizing: border-box;
    	width: 18rem;
   	 	padding: 1rem;
    	display: flex;
    	flex-direction: column;
    	justify-content: space-between;
    	align-items: center;

    	a {
    		text-decoration: none;
    		color: white;

    		&:visited {
    			text-decoration: none;
    		}
    	}
	}

	h3 {
    	font-weight: normal;
	}

	.subtitle {
		font-weight: lighter;
		margin: 1rem 0rem;
	}

	.activity-subtitle {
		margin-top: 2.5rem;
		margin-bottom: 1.2rem;
	}

	input {
		padding: 1rem 2.5rem;
	}

	.first-activity-card {
		margin-top: 0rem;
	}

	.cart-text-box {
		margin: 1rem 0rem;
	}

	&__confirmation {
		margin-top: 5rem;
		width: 18rem;
		padding: 1rem;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    align-items: center;
	    box-shadow: $default-shadow;
    	border-radius: $default-radius;

	    p {
	    	display: flex;
    		justify-content: space-between;
    		width: 80%;
    		margin: 0.3rem 0rem;
	    }

	    .date-confirmation {
	    	text-align: center;
	    	display: block;
	    	margin-top: 1rem;
	    }

	    .total-confirmation {
	    	margin-top: 1rem;
	    	margin-bottom: 0rem;
	    	font-weight: bold;
	    }

	    .set-big-width {
	    	width: 60%;
	    }

	    .set-small-width {
	    	width: 20%;
	    	text-align: center;
	    }

	    .set-small-width-0 {
	    	text-align: right;
	    	width: 20%;
	    }
	}
}



.title-box {
	width: 100%;

	h3 {
		margin-bottom: 2px;
		text-align: center;
	}

	.breaking-line {
		width: 80%;
		margin: auto;
		background-color: $color-light-grey;
		height: 1px;
	}
}



















